@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<h>Dette er more sales</h>

@section MoreSales
{
<div>Dette er teksten for MoreSales</div>
}
