@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Sale";
}
<h1>Dette er Sale-siden</h1>

@section Sale{
<div>
    Denne tekst forklarer, hvordan Sale fungerer
</div>
}